@{
    ViewBag.Title = "Home Page";
}

<script type="text/javascript">
    function search() {
        var textM = "";
        if (document.getElementById("searchMovie") != null && $.trim(document.getElementById("searchMovie").value)) {
            document.getElementById("result").innerHTML = "";
            searchAjax({ s: $.trim(document.getElementById("searchMovie").value) }).done(function (data) {
                searchDetails(data);
            });
        }
    }

    function searchDetails(json) {
        var checkAr = [];
        var text = "";
        var i;
        $.each(json.Search, function (id) {
            checkAr.push(
                searchAjax({ i: json.Search[id].imdbID, tomatoes: true }).done(function (detail) {
                text += detail.Title + "  IMDB Rating: " + detail.imdbRating + " Metascore: " + detail.Metascore + ", Rotten Tomato: " + detail.tomatoUserMeter + "<br>";
            }));
        });
        $.when.apply(null, checkAr).done(function () {
            document.getElementById("result").innerHTML = text;
        });
    }

    function searchAjax(inp){
        return $.ajax({
            url: "http://www.omdbapi.com/",
            method: "GET",
            data: inp,
            dataType: "JSON"
        });
    }
</script>
<div>
    <input id="searchMovie" type="search" />
    <input type="button" onclick="search();" value="Search" />
</div>
<div id="result">

</div>